body {
	background: #ffffff;
	color: #22a0f3;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 22px;
	font-family: 'Love Ya Like A Sister', cursive;
}

.container {
	width: 1300px;
	margin: 0 auto;
	padding: 30px 24px;
	position: relative;
}

.fintech {
	text-align: center;
}

/* Typography */

h1, h2 {
	font-family: 'Love Ya Like A Sister', cursive;
	color: #232fd1;
	font-size: 40px;
	font-weight: normal;
	line-height: 44px;
	margin: 0;
}

h1 {
	text-align: center;
	background: url('images/underline.png') bottom center no-repeat;
	padding: 20px 0 20px;
}

h1 em {
	color: #4b2707;
	font-style: normal;
}

h2 {
	font-size: 32px;
}

h3 {
	margin: 0;
}

p.lead {
	font-size: 32px;
	font-weight: 300;
	text-align: center;
	margin: 30px 0;
    color: #232fd1;
}

p {
	margin: 0;
}

a:link {
	color: #232fd1;
}

a:visited {
	color: #6c3fbe;
}

a:hover {
	color: #232fd1;
}

hr {
	border: none;
	height: 33px;
	width: 333px;
	margin: 30px auto;
	background: url('images/underline.png') center center no-repeat;
}

/* Header */

header nav {
	text-align: center;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	line-height: 41px;
}

header nav ul li {
	display: inline-block;
	padding: 0 20px;
}

header nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

/* Hero */

#hero {
	background: #d2f1fa;
}

#hero .container {
	position: relative;
}


/* The Whole Story */

#story-excerpt {
	width: 830px;
	margin-right: 24px;
	float: left;
	font-size: 20px;
	text-align: justify;
}
#htmlcssjs {
	padding: 80px 0 30px 130px;
	width: 240px;
	float: left;
}

/* News & Events */

#articles {
	width: 830px;
	float: left;
	margin-right: 24px;
}

#feature-image {
	padding: 30px 0 0px 80px;
	width: 240px;
	float: left;
}

#news-events article {
	margin: 20px 0;
	padding-left: 55px;
	width: 830px;
}

#news-events header time {
	color: black;
	font-size: 16px;
}

#news-events section.excerpt {
	margin: 20px 0;
}

#news-events footer {
	font-size: 12px;
}

/* Footer */

footer {
	color: #22a0f3;
}

footer.main {
	background: #22a0f3;
	color: #232fd1;
	padding: 30px 0;
}

#copyright {
	width: 400px;
	padding: 10px 0 10px 50px;
	font-size: 18px
}

/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





